/* ********** Form ********** */
.form {
  margin: 3rem auto;

  // .form__container
  &__container {
    width: 90%;
    margin: auto;

    @include mq(m) {
      width: 70%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }

    @include mq(l) { width: 45%; }
  }

  // .form__item
  &__item {
    margin-bottom: 1rem;

    &:last-child { margin-bottom: 0; }

    @include mq(m) {
      margin-bottom: 1.5rem;

      &:first-child { flex-basis: 49%; }
      &:nth-child(2) { flex-basis: 49%; }
      &:last-child { flex-basis: 100%; position: relative; }
    }
  }

  // .form__input
  &__input {
    height: 4.5rem;
    width: 100%;
    padding-left: 2rem;
    border-radius: 5rem;
    border: none;
    font-size: 1.6rem;
    outline: 0;
  }

  // .form__button
  &__button {
    padding-left: 0;
    margin-top: 2rem;
    background-color: var(--tertiary-color);
    color: var(--text-color-white);
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: var(--secondary-color);
    }

    @include mq(m) {
      position: absolute;
      top: 2.5px;
      right: 3px;
      margin-top: 0;
      width: 10rem;
      height: 4rem;
    }
  }
}
