/* ********** Helvetica Font ********** */

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Helvetica'), url('/assets/fonts/Helvetica.woff') format('woff');
}
