aside.customers
  .customers__container.l-container
    img(class="customers__logo", src="/assets/images/logo-movimiento.svg", alt="Movimiento Ciudadano")
    img(class="customers__logo", src="/assets/images/logo-pan.svg", alt="Partido Acción Nacional")
    img(class="customers__logo", src="/assets/images/logo-morena.svg", alt="Movimiento Regeneración Nacional")
    img(class="customers__logo", src="/assets/images/logo-verde.svg", alt="Partido Verde Ecologista de México")
