section.features.features--ecosystem
  .features__container.l-container
    .features__item
      h2.overview__title Ecosistema Escalable
      p.features__description Adaptamos cada sección del sistema a las necesidades principales de tu campaña electoral.
    .features__item
      img(class="features__image", src="/assets/images/selectoral-login.png", alt="Login en App Sistema de Gestión Electoral")
    .features__item
      article.features__artitle
        img(class="features__icon", src="/assets/images/icon-perfiles.svg", alt="Niveles de Acceso en Sistema de Gestión Electoral")
        .features__wrapper
          h3.features__name Niveles de Acceso
          p.features__brief Contamos con los usuarios Administrador, Capturista y Analista.
      article.features__artitle
        img(class="features__icon", src="/assets/images/icon-estructura.svg", alt="Estructura Organizacional en Sistema de Gestión Electoral")
        .features__wrapper
          h3.features__name Estructura Organizacional
          p.features__brief Ramificamos piramidalmente a través de Líderes, Enlaces, Promotores y Promovidos.
      article.features__artitle
        img(class="features__icon", src="/assets/images/icon-reportes.svg", alt="Sistema de Reportes en Sistema de Gestión Electoral")
        .features__wrapper
          h3.features__name Sistema de Reportes
          p.features__brief Genera los informes específicos por cada sección involucrada en la campaña electoral.
