footer.footer
  .footer__container.l-container
    .footer__item
      img(class="footer__logo", src="/assets/images/selectoral-logo.svg", alt="Selectoral.com")
      a(class="footer__link", href="http://erwcode.com", target="_blank", rel="follow noopener noreferrer"): img(class="footer__logo footer__logo--powered", src="/assets/images/erwcode-logo.svg", alt="Powered by ErwCode")
    .footer__item
      h4.footer__copy © #[strong #[span#date] Selectoral.] Todos los derechos reservados
      .footer__legal
        a(class="footer__link", href="javascript:void(0)", rel="follow noopener noreferrer") Aviso de Privacidad
        a(class="footer__link", href="javascript:void(0)", rel="follow noopener noreferrer") Términos y Condiciones
