section.hero
  .hero__container.l-container
    .hero__content
      h1.hero__title Tu campaña política en un solo lugar
      p.hero__description Administra y gestiona el capital humano de tu estructura electoral con nuestros servicios.
      .hero__wrapper
        a(class="hero__link hero__link--demo", href="javascript:void(0)") Solicitar demo
        a(class="hero__link hero__link--sale", href="javascript:void(0)") Contactar con el equipo de ventas #[img(class="hero__icon", src="/assets/images/icon-arrow.svg", alt="Icono de flecha")]
    picture.hero__picture
      source(srcset="/assets/images/selectoral-dashboard.png", media="(min-width: 720px)", type="image/png")
      img(class="hero__image", src="/assets/images/selectoral-dashboard@1x.png", alt="Dashboard Sistema de Gestión Electoral")
