header.header
  .header__container.l-container
    a.logo__link(href="/"): img(class="logo__image", src="/assets/images/selectoral-logo.svg", alt="Selectoral Logo")
    .hamburger#hamburger
      .hamburger__body
    nav.nav#menu
      ul.menu
        li.menu__item
          a(class="menu__link", href="/") Home
        li.menu__item
          a(class="menu__link", href="javascript:void(0)") Sistema
        li.menu__item
          a(class="menu__link", href="javascript:void(0)") Contacto
