section.overview
  .overview__container.l-container
    h2.overview__title Sistema de Gestión Electoral
    p.overview__description Estructurar y controlar la visión estratégica operativa de tu campaña política nunca fue tan fácil.
    .overview__wrapper
      .overview__item
        img(class="overview__icon", src="/assets/images/icon-captura.svg", alt="Captura con Selectoral.com")
        h3.overview__flow Captura
        p.overview__brief Construye tu propia base de datos con la información del capital humano que está contigo.
      .overview__item
        img(class="overview__icon", src="/assets/images/icon-analiza.svg", alt="Analiza con Selectoral.com")
        h3.overview__flow Analiza
        p.overview__brief A través del apartado estadístico social podrás comprender mejor tu estructura electoral.
      .overview__item
        img(class="overview__icon", src="/assets/images/icon-planifica.svg", alt="Planifica con Selectoral.com")
        h3.overview__flow Planifica
        p.overview__brief Crea estrategias sociales que te permitan general un mayor impacto en la población.
  img(class="overview__vector", src="/assets/images/estructura-top.png", alt="Estructura Vectorial Selectoral.com")
