section.features.features--security
  .features__container.features__container--security.l-container
    .features__item
      h2.overview__title Seguridad Tecnológica
      p.features__description Nuestra infraestructura te permitirá enfocarte únicamente en tu proceso electoral.
    .features__item
      img(class="features__image", src="/assets/images/selectoral-estadistica.png", alt="Análisis Estadísticos en App Sistema de Gestión Electoral")
    .features__item
      article(class="features__artitle", data-aos="fade-up")
        img(class="features__icon", src="/assets/images/icon-seguridad.svg", alt="Encriptación de Datos en Sistema de Gestión Electoral")
        .features__wrapper
          h3.features__name Encriptación de Datos
          p.features__brief Ciframos la información ingresada al sistema a través del canal de comunicación.
      article(class="features__artitle", data-aos="fade-up", data-aos-duration="2000")
        img(class="features__icon", src="/assets/images/icon-backup.svg", alt="Back-up Service en Sistema de Gestión Electoral")
        .features__wrapper
          h3.features__name Back-up Service
          p.features__brief Constante actualización en nuestros servidores para resguardar tu informacón.
      article(class="features__artitle", data-aos="fade-up", data-aos-duration="3000")
        img(class="features__icon", src="/assets/images/icon-soporte.svg", alt="Soporte de TI en Sistema de Gestión Electoral")
        .features__wrapper
          h3.features__name Soporte de TI
          p.features__brief Personal capacitado en el área para atender cualquier situación que se presente.
