section.software
  .software__container.l-container
    h2.overview__title Software de Alto Rendimiento
    p.overview__description Cada día las campañas políticas son más competitivas, permitiendo el uso de tecnología para mejorar la visión del campo electoral.
    a(class="software__link", href="#sistema") Solicitar un demo
    img(class="software__image", src="/assets/images/selectoral-registros.png", alt="Registos en Sistema de Gestión Electoral", data-aos="zoom-in", data-aos-duration="2000")
