extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'Administra y gestiona el capital humano de tu campaña electoral con Selectoral.com.'
  - ogUrl           = 'https://selectoral.com'
  - ogImage         = 'https://selectoral.com/assets/images/sistemas.jpg'

block body
  //- Hero Section
  include ../includes/hero.pug

  //- Overview Section
  include ../includes/overview.pug

  //- Ecosystem Section
  include ../includes/ecosystem.pug

  //- Software Section
  include ../includes/software.pug

  //- Security Section
  include ../includes/security.pug

  //- Customers Section
  include ../includes/customers.pug
