extends ../template.pug
append variables
  - pageTitle       = 'Políticas de Privacidad'
  - metaDescription = 'Selectoral.com pone a tu disposición la siguiente Política de Privacidad para el uso de este sitio web.'
  - ogUrl           = 'https://selectoral.com/politica-de-privacidad.html'
  - ogImage         = 'https://selectoral.com/assets/images/selectoral.jpg'

block body
