extends ../template.pug
append variables
  - pageTitle       = 'Términos y Condiciones'
  - metaDescription = 'Selectoral.com pone a tu disposición los siguientes Yérminos y Condiciones para el uso de este sitio web.'
  - ogUrl           = 'https://selectoral.com/terminos-y-condiciones.html'
  - ogImage         = 'https://selectoral.com/assets/images/selectoral.jpg'

block body
