extends ../template.pug
append variables
  - pageTitle       = 'Gracias'
  - metaDescription = 'Selectoral.com agradece tu interés en nuestro Sistema de Gestión Electoral'
  - ogUrl           = 'https://selectoral.com/gracias.html'
  - ogImage         = 'https://selectoral.com/assets/images/selectoral.jpg'

block body
